
.env
*.env


__pycache__/
*.pyc
*.pyo
.venv/
venv/


.ipynb_checkpoints/


flutter_app/build/
flutter_app/.dart_tool/
flutter_app/.gradle/
flutter_app/android/.gradle/
flutter_app/android/local.properties
flutter_app/android/app/google-services.json


.idea/
.vscode/
*.iml


.DS_Store